.clearFix::after {
  content: '';
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto 0;
}

.wordHidden {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; 
}
.wordHidden.oneline {
  -webkit-line-clamp: 1; 
}
.wordHidden.twoline {
  -webkit-line-clamp: 2; 
}
.wordHidden.threeline {
  -webkit-line-clamp: 3; 
}